@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  @apply min-h-screen w-screen overflow-y-auto bg-amber-200 p-3;
}

.App {
  font-family: sans-serif;
  text-align: left;
}

/*
 * Classes for fade-in/fade-out animation of calendar panel.
 * Used with CSSTransition component.
 */
.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
